#fade.blackOverlay(style="display:none")
  #checkout
    #xbutton
    h1 Review You Shopping Cart
    #shoppingCart
      .simpleCart_items
        div
          .itemRow
            input.item-quantity
      .cartFiller
      span#simpleCart_total.simpleCart_total.clearfix
      .cartFiller
      #simpleCart_grandTotal.simpleCart_grandTotal.clearfix
      .cartFiller
    form(action="", method="get")
      input(name="First Last Name", placeholder="First Last Name")
      input(name="Address Line 1", placeholder="Address Line 1")
      input(name="Address Line 2", placeholder="Address Line 2")
      input(name="city", placeholder="City")
      input(name="state", placeholder="State", max="2")
      input(name="zip", placeholder="Zip Code", max="5")
      input.simpleCart_checkout(type="submit", value="checkout") Checkout
