meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
meta(name="author", content="Cameron Drake")
meta(name='description', content='A professional academy for the hairdressing community')
  meta(charset='UTF-8')

// Apple mobile tags
meta(name="apple-touch-fullscreen", content="yes")
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="black")
meta(name="format-detection", content="telephone=yes")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Josefin+Slab|Arvo", type="text/css")
link(rel="stylesheet", href="/stylesheets/includes/normalize.min.css") 
link(rel="stylesheet", href="/stylesheets/includes/animate.min.css") 
link(rel="stylesheet", href="/stylesheets/style.css", type="text/css")
link(rel="shortcut icon", href="img/favicon.ico")
