footer
  .footContainer
    p#copy Copyright © 2013 diPietro Todd Salon + Academy. San Francisco, CA, All rights reserved.
    ul#social
      li
        a Facebook
      li
        a Twitter
      li
        a Tumblr
      li
        a HB?
    