footer
  .footContainer
    p#copy Copyright © 2013 diPietro Todd Salon + Academy. San Francisco, CA, All rights reserved.
    ul#social
      a(href="http://www.facebook.com/dipietrotodd", target="_blank")
        li#facebook
      a(href="http://twitter.com/dipietro_todd", target="_blank")
        li#twitter
      a(href="http://dipietrotodd.tumblr.com/", target="_blank")
        li#tumblr
      a(href="http://www.hairbrained.me/profile/diPietroTodd", target="_blank")
        li#hairbranded