a(href='/') 
  header#logo.clearfix
nav.clearfix
  ul
    li
      a(href='') classes
    li
      a(href='') about
    li
      a(href='educators') educators
    li
      a(href='') culture
    li
      a(href='') in salon education
    li
      a(href='contact') contact us
