header.clearfix
  a(href='/') 
    #logo
  nav.clearfix
    ul
      li
        a.bounce(href='classes') classes
      li
        a.bounce(href='') about
      li
        a.bounce(href='educators') educators
      li
        a.bounce(href='') culture
      li
        a.bounce(href='') education
      li
        a.bounce(href='contact') contact us
