header.clearfix
  a(href='/') 
    #logo
  nav.clearfix
    ul
      li
        a(href='classes') classes
      li
        a(href='about') about
      li
        a(href='educators') educators
      li
        a(href='') culture
      li
        a(href='') education
      li
        a(href='contact') contact us
