a(href='/') 
  header#logo.clearfix
nav.clearfix
  ul
    li
      a(href='classes') classes
    li
      a(href='about') about
    li
      a(href='educators') educators
    li
      a(href='culture') culture
    li
      a(href='saloned') in salon education
    li
      a(href='contact') contact us
