.navContainer 
  nav.clearfix
     ul
      li
        a(href='classes') classes
      li
        a(href='about') about
      li
        a(href='educators') educators
      li
        a(href='contact') contact us
      li
        a(href='faq') faq
      li
        a(href='insalon') in salon
