.navContainer 
  nav.clearfix
    .col1
      a(href="/")
        #logoSmall
    .col2
       ul
        li
          a(href='classes#classes') classes
        li
          a(href='about#aboutUs') about
        li
          a(href='about#educators') educators
        li
          a(href='about#contact') contact us
    .col3
