.navContainer 
  nav.clearfix
    .col1
      a(href="/")
        #logoSmall
    .col2
       ul
        li
          a(href='classes') classes
        li
          a(href='about') about
        li
          a(href='about#educators') educators
        li
          a(href='about#contact') contact us
        li
          a(href='faq') faq
        li
          a(href='insalon') in salon
    .col3
