extends layout
block content
  #aboutUs
    .container
      #academy
        h2 Academy
        p
          | With five locations already in the Bay Area, diPietro Todd has also launched the diPietro Todd Academy in 2004, dedicated to teaching innovative techniques and collections to stylists and colorists around the world.  Led by Amita Moticka, Director of Haircutting, and Shelley Mohr, Director of Color, this educational entity conducts hands-on seminars held at diPietro Todd locations as well as other salons in the U.S. and worldwide. In an industry with few schools today, diPietro Todd has created a product that is completely  unique, unrivaled, and greatly demanded.
        img(src="img/IMG_5932.jpg", width="400", alt="")
        p  
          |The diPietro Todd Academy explores the process of learning and the development of ideas. The Academy conducts seminars and demonstrations designed specifically to reach all aspects of cutting, color, and styling while giving students practical knowledge of the beauty industry.  
        p
          | The Academy is built upon the understanding that creativity comes second to a strong foundation. We hope to inspire seasoned veterans of the hair industry while customizing coursework to reach different learning styles and ideas.  It allows experienced stylists the opportunity to hone their skills in specifically designed workshops. 
        
        video(width='960', height='540', controls='controls')
          source(src='img/originals/DPT.mov', type='video/mov')
            source(src='movie.ogg', type='video/ogg') // Don't have ogg
              | Your browser does not support the video tag.
        