extends layout
block content
  #classes
    #cut.classCat
      h3.cutTitle CUT
      a(href='/cut')
        p.signUp sign up for classes
    #color.classCat
      h3.cutTitle COLOR
      a(href='/color')
        p.signUp sign up for classes
    #etc.classCat
      h3.cutTitle ETC.
      a(href='/etc')
        p.signUp sign up for classes
