extends layout
block content
  #classes
    #cut.classCat
      h3.cutTitle CUT
      p.signUp sign up for classes
    #color.classCat
      h3.cutTitle COLOR
      p.signUp sign up for classes
    #etc.classCat
      h3.cutTitle ETC.
      p.signUp sign up for classes
