extends layout
block content
  #classes
    #cut.classCat
      h3 CUT
      p.signUp sign up for classes
    #color.classCat
      h3 COLOR
      p.signUp sign up for classes
    #etc.classCat
      h3 ETC.
      p.signUp sign up for classes
