extends layout
block content
  #classes
    #cut.classCat.clearfix
      h3 Cut
      p sign up for classes
    #color.classCat.clearfix
      h3 Color
      p sign up for classes
    #etc.classCat.clearfix
      h3 Etc.
      p sign up for classes
