extends layout
block content
  #classes
    #cut.classCat.clearfix
      h3 Cut
      .signUp sign up for classes
    #color.classCat.clearfix
      h3 Color
      .signUp sign up for classes
    #etc.classCat.clearfix
      h3 Etc.
      .signUp sign up for classes
