extends layout
block content
  #classes
    #cut.classCat
      h3.cutTitle CUT
      a(href='http://wp.dipietrotoddacademy.com/?page_id=4/cut/')
        p.signUp sign up for classes
    #color.classCat
      h3.cutTitle COLOR
      a(href='http://wp.dipietrotoddacademy.com/?page_id=4/cut/')
        p.signUp sign up for classes
    #etc.classCat
      h3.cutTitle ETC.
      a(href='http://wp.dipietrotoddacademy.com/?page_id=4/cut/')
        p.signUp sign up for classes
