extends layout
block content
h2 Foundation/Classic Color
p Feb 17, Sep 29, Nov 17
p 
  | This foundational class takes you through the fundamental theory behind color. Its great for beginning Colorists and suits those veterans who want to go ‘back to the basics’ for a refresher course. This course covers formulation and tint application, including grey coverage and creating variation in global tints. Master the basic techniques that Colorists use every day in the salon.
p $500
p book now