extends layout
block content
  #color
    .container
      .classes.simpleCart_shelfItem
        .thumbs
         img.item_thumb(src="img/color_thumbs/foundation.png", width="200", alt="")
        .details
          h1.item_name FOUNDATION/CLASSIC COLOR
          h2 Feb 17 / Sep 29 / Nov 17
          p This foundational class takes you through the fundamental theory behind color. Its great for beginning Colorists and suits those veterans who want to go ‘back to the basics’ for a refresher course. This course covers formulation and tint application, including grey coverage and creating variation in global tints. Master the basic techniques that Colorists use every day in the salon.
          h1.item_price $500
          input.item_add(type="button", value="Add to Cart")
      .classes.simpleCart_shelfItem
        .thumbs
         img.item_thumb(src="img/color_thumbs/correct.png", width="200", alt="")
        .details  
          h1.item_name CORRECT/CORRECTIVE COLOR
          h2 Apr 7 / Oct 6
          p Sometimes color correction can be intimidating, but you will leave this course will the ability to approach any color problem with complete confidence. Advance your knowledge by uncovering the solution for any challenging color client.
          h1.item_price $500
          input.item_add(type="button", value="Add to Cart")
      .classes.simpleCart_shelfItem
        .thumbs
         img.item_thumb(src="img/color_thumbs/freeform.png", width="200", alt="")
        .details  
          h1.item_name FREE FORM/BALAYAGE
          h2 May 19 / Aug 11 / Oct 13 / Nov 3
          p A must-know technique for all Colorists, Balayage gives a very natural looking highlight that creates a sun-kissed look for blondes and brunettes. Celebrities like Cameron Diaz and Giselle Bundchen, have put this trend on the map and its now in popular demand. This is a fun alternative to conventional foil work and your clients will love this freehand surface highlighting technique.
          h1.item_price $550
          input.item_add(type="button", value="Add to Cart")
      .classes.simpleCart_shelfItem
        .thumbs
         img.item_thumb(src="img/color_thumbs/enlighten.png", width="200", alt="")
        .details  
          h1.item_name ENLIGHTEN/INTENSIVE HIGHLIGHTING
          h2 Mar 3 / May 26 / July 21 / Aug 18 / Oct 20
          p Gain a broader perspective on highlighting and learn how to design your own patterns. Discover a new way of viewing the standard foil technique using various angles and pick ups, as well as focus on hairlines and growth patter using placement to create maximum impact.
          h1.item_price $500
          input.item_add(type="button", value="Add to Cart")
      .classes.simpleCart_shelfItem
        .thumbs
         img.item_thumb(src="img/color_thumbs/challenge.png", width="200", alt="")
        .details  
          h1.item_name CHALLENGE/BATTLE OF THE BLONDES
          h2 March 10 / July 14 / Nov 10
          p This is an accelerated course that includes an in-depth look at foil technique and free hand work. Master this course and you will ace your ability to determine which technique is most suitable for your highlight client and provide successful results.
          h1.item_price $550
          input.item_add(type="button", value="Add to Cart")
      .classes.simpleCart_shelfItem
        .thumbs
         img.item_thumb(src="img/color_thumbs/aptitude.png", width="200", alt="")
        .details  
          h1.item_name APTITUDE/ADVANCED BALAYAGE
          h2 June 2
          p Using balayage, the visual and seamless highlighting technique, push your boundaries to create a more modern and progressive look. This class is tailored to teach a higher and more advanced level of balayage using creative placement and visual techniques such as ombre and american tailoring.
          h1.item_price $550    
          input.item_add(type="button", value="Add to Cart")
      include includes/cart
      
      
          