extends layout
block content
  #color
    .container
      .classes.simpleCart_shelfItem
        .thumbs
         img.item_thumb(src="img/color_thumbs/foundation.png", width="200", alt="")
        .details
          h1.item_name FOUNDATION/CLASSIC COLOR
          p This foundational class takes you through the fundamental theory behind color. Its great for beginning Colorists and suits those veterans who want to go ‘back to the basics’ for a refresher course. This course covers formulation and tint application, including grey coverage and creating variation in global tints. Master the basic techniques that Colorists use every day in the salon.
          h3.item_price $500
          form(name='PrePage', method='post', action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx')
            select
              option(value='5da20af6-87d0-41f9-8eac-ad8670791023') Feb 17
              option(value='5ec8326f-fe7c-4c44-995c-ad0f4b096e29') Sep 29
              option(value='fa3f17cd-1fc4-4769-81f6-69474fad6fc9') Nov 17
            input(type='hidden', name='LinkId', value='')
            input(type='submit', value='Buy Now!')

      .classes.simpleCart_shelfItem
        .thumbs
         img.item_thumb(src="img/color_thumbs/correct.png", width="200", alt="")
        .details  
          h1.item_name CORRECT/CORRECTIVE COLOR
          p Sometimes color correction can be intimidating, but you will leave this course will the ability to approach any color problem with complete confidence. Advance your knowledge by uncovering the solution for any challenging color client.
          h3.item_price $500
          form(name='PrePage', method='post', action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx')
            select
              option(value='40ca8dc8-5252-408e-92dc-fd7c5f38a7bf') Apr 7
              option(value='045d9cad-efa1-482e-93e3-dbd529e6463e') Oct 6
            input(type='hidden', name='LinkId', value='')
            input(type='submit', value='Buy Now!')
      .classes.simpleCart_shelfItem
        .thumbs
         img.item_thumb(src="img/color_thumbs/freeform.png", width="200", alt="")
        .details  
          h1.item_name FREE FORM/BALAYAGE
          p A must-know technique for all Colorists, Balayage gives a very natural looking highlight that creates a sun-kissed look for blondes and brunettes. Celebrities like Cameron Diaz and Giselle Bundchen, have put this trend on the map and its now in popular demand. This is a fun alternative to conventional foil work and your clients will love this freehand surface highlighting technique.
          h3.item_price $550
          form(name='PrePage', method='post', action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx')
            select
              option(value='15131b1b-d246-4fdd-9aaa-e1903ab169ed') May 19
              option(value='f5ba3463-42e9-4234-b34d-b5e2a58af7de') Aug 11
              option(value='0c307b37-053c-4c95-8c80-9f21baf5819b') Oct 13
              option(value='4c02c690-8ac7-425d-a4ef-b95924afa02e') Nov 3
            input(type='hidden', name='LinkId', value='')
            input(type='submit', value='Buy Now!')
      .classes.simpleCart_shelfItem
        .thumbs
         img.item_thumb.verticalAlign(src="img/color_thumbs/enlighten.png", width="200", alt="")
        .details  
          h1.item_name ENLIGHTEN/INTENSIVE HIGHLIGHTING
          p Gain a broader perspective on highlighting and learn how to design your own patterns. Discover a new way of viewing the standard foil technique using various angles and pick ups, as well as focus on hairlines and growth patter using placement to create maximum impact.
          h3.item_price $500
          form(name='PrePage', method='post', action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx')
            select
              option(value='28849832-d90e-4118-95ea-48590c1f0b93') July 21
              option(value='2efd6f25-006a-4943-bef7-ebc82dd648df') Aug 18
              option(value='03094fcb-0db7-4444-80c9-32fb52d1adb1') Oct 20
            input(type='hidden', name='LinkId', value='')
            input(type='submit', value='Buy Now!')
      .classes.simpleCart_shelfItem
        .thumbs
         img.item_thumb.verticalAlign(src="img/color_thumbs/challenge.png", width="200", alt="")
        .details  
          h1.item_name CHALLENGE/BATTLE OF THE BLONDES
          p This is an accelerated course that includes an in-depth look at foil technique and free hand work. Master this course and you will ace your ability to determine which technique is most suitable for your highlight client and provide successful results.
          h3.item_price $550
          form(name='PrePage', method='post', action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx')
            select
              option(value='bfde4904-6641-4a4b-9566-917c7643b5f4') July 14
              option(value='0b9bfbce-40b7-497d-932e-c601ae00641e') Nov 10
            input(type='hidden', name='LinkId', value='')
            input(type='submit', value='Buy Now!')
      .classes.simpleCart_shelfItem
        .thumbs
         img.item_thumb(src="img/color_thumbs/aptitude.png", width="200", alt="")
        .details  
          h1.item_name APTITUDE/ADVANCED BALAYAGE
          p Using balayage, the visual and seamless highlighting technique, push your boundaries to create a more modern and progressive look. This class is tailored to teach a higher and more advanced level of balayage using creative placement and visual techniques such as ombre and american tailoring.
          h3.item_price $550    
          form(name='PrePage', method='post', action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx')
            select 
              option(value='1d2f147e-c9ee-436a-95d9-34f5ae2a2f63') Jun 2
            input(type='hidden', name='LinkId', value='')
            input(type='submit', value='Buy Now!')
      
      
          