extends layout

block content
  #contact
    #contactform
      form
        h1 Contact
        p Your Name (required)
        input(type='text', name='name', required)
        p Your Email (required)
        input(type='email', name='email', required)
        p Subject
        input(type='text', name='subject')
        p your Message
        textarea(name='message', rows='4')
        input(type='submit', value='send')
    #location
      h1 Location
      hgroup.clearfix
        p.alignLeft Address:
        ul.alignRight 
          li 177 Post St, 2nd floor
          li San Francisco, CA 94108
      hgroup.clearfix
        p.alignLeft Phone
        p.alignRight 415-693-5546
      hgroup.clearfix
        p.alignLeft Email
        p.alignRight academy@dipietrotodd.com
      img(src='http://maps.googleapis.com/maps/api/staticmap?center=177+Post+St,San+Francisco,CA&zoom=16&size=350x350&maptype=roadmap&markers=color:blue%7Clabel:D%7C177+Post+Street,San+Francisco,CA&sensor=false')
      