extends layout
block content
  #cut
    .container
      .classes.simpleCart_shelfItem
        .thumbs
          img.item_thumb.verticalAlign(src="img/cut_thumbs/equate.png", width="200", alt="")
        .details
          h1.item_name EQUATE/CLASSIC CUTTING
          select
            option May 26
            option Sep 29
          p While covering classic blow drying and styling, you will focus on one-length, graduated, and layered shapes in this course. These fundamental techniques are great for the beginning haircutter and also valuable to seasoned haircutters who want to go ‘back to the basics’ for a refresher course.
          h3.item_price $525
          form(name='PrePage', method='post', action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx')
            input(type='hidden', name='LinkId', value='24b57115-1cb0-4b19-9759-88dab2b63606')
            input(type='submit', value='Buy Now!')

      .classes.simpleCart_shelfItem
        .thumbs
          img.item_thumb(src="img/cut_thumbs/Create.png", width="200", alt="")
        .details
          h1.item_name CREATE/CREATIVE CUTTING
          select 
            option June 2
            option Oct 20
          p Take a break from the norm, get inspired and allow your creativity to come to life. Find, interpret, and execute your own artistic vision. Explore various techniques that will enable you to combine current trends with your individual creative expression.
          h3.item_price $525
          form(name='PrePage', method='post', action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx')
            input(type='hidden', name='LinkId', value='4ad5c5c6-bef4-4dc7-af68-e0799cd96ebc')
            input(type='submit', value='Buy Now!')

      .classes.simpleCart_shelfItem
        .thumbs
          img.item_thumb(src="img/cut_thumbs/overlay.png", width="200", alt="")
        .details
          h1.item_name OVERLAY/LONG HAIR CUTTING
          select
            option April 7
          p Get to know the many avenues that can be explored with long hair. Experience a mixture of classic and creative techniques for cutting and dressing hair. Our goal is to have you leave with a renewed passion for long hair.
          h3.item_price $500
          form(name='PrePage', method='post', action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx')
            input(type='hidden', name='LinkId', value='')
            input(type='submit', value='Buy Now!')

      .classes.simpleCart_shelfItem
        .thumbs
          img.item_thumb(src="img/cut_thumbs/deconstruction.png", width="200", alt="")
        .details
          h1.item_name DECONSTRUCTION/DRY HAIR DETAILING + TEXTURIZING
          select
            option March 3
            option Nov 3
          p You will learn how to deconstruct a head shape, thoughtfully observing the hair and head shape. The skills you will obtain in this class will enable all of us to be the artist in our everyday work by finding the inspiration from natural characteristics of our clients. A must for hair geeks!
          h3.item_price $500
          form(name='PrePage', method='post', action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx')
            input(type='hidden', name='LinkId', value='744733f0-3630-4812-976a-ee3622b16448')
            input(type='submit', value='Buy Now!')

      .classes.simpleCart_shelfItem
        .thumbs
          img.item_thumb.verticalAlign(src="img/cut_thumbs/form.png", width="200", alt="")
        .details
          h1.item_name FORM/CURLY + TEXTURED HAIR
          select
            option Feb 17
          p Bring your client’s curly locks to life! Explore and understand the varied structure of curls. Learn the importance of managing and caring for your client\'s curls and apply a contemporary shape to their hair. You will leave with a new found confidence for curly locks.
          h3.item_price $500
          form(name='PrePage', method='post', action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx')
            input(type='hidden', name='LinkId', value='1a369958-84a8-4a87-b256-c5fd228f63b7')
            input(type='submit', value='Buy Now!')

      .classes.simpleCart_shelfItem
        .thumbs
          img.item_thumb(src="img/cut_thumbs/tighten2.png", width="200", alt="")
        .details
          h1.item_name TIGHTEN/BARBERING
          select 
            option Aug 18
            option Nov 17
          p Capture the essence of men’s barbering through strong observation of head shape and growth patterns. Focus on scissor over comb techniques, detailing, and classic men’s cutting and styling. Rediscover the shapes, lines, textures and style that can be created through men’s barbering.
          h3.item_price $500
          form(name='PrePage', method='post', action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx')
            input(type='hidden', name='LinkId', value='77d6f9ab-e8df-46a9-80ce-deb257727154')
            input(type='submit', value='Buy Now!')

      .classes.simpleCart_shelfItem
        .thumbs
          img.item_thumb.verticalAlign(src="img/cut_thumbs/sculpt.png", width="200", alt="")
        .details                          
          h1.item_name SCULPT/RAZOR TECHNIQUES
          select
            option July 14
            option Nov 10
          p Become familiar with your razor techniques, body mechanics, and variety of weight removal methods. This class is tailored to all stylists- those who are new to a razor and even those who want to push the boundaries and get creative with the tool.
          h3.item_price $525
          form(name='PrePage', method='post', action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx')
            input(type='hidden', name='LinkId', value='3b4ad313-2955-4a38-8efb-4a4a42e6d81a')
            input(type='submit', value='Buy Now!')

      .classes.simpleCart_shelfItem
        .thumbs
          img.item_thumb(src="img/cut_thumbs/frame.png", width="200", alt="")
        .details                          
          h1.item_name FRAME/CREATIVE SECTIONING + FRINGE
          select
            option Aug 11
          p Deepen your knowledge of how and why sectioning can be so powerful to your creative process and breathe new life into the foundational techniques you already posses. A great class for all mediums of hair, cut, color and styling, together we will discuss and practice sectioning techniques based on in-depth theory and observation of our clients physical characteristics. Resulting in a new and empowered approach to sectioning that will build more confidence for you and your clients. Dont underestimate what fringe can do for a new look! The portion of this fringe class will focus on framing your clients face by understanding; sectioning, symmetry, asymmetry, and what is current and classic.
          h3.item_price $525
          form(name='PrePage', method='post', action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx')
            input(type='hidden', name='LinkId', value='6df8ef0e-1ee2-45d0-8bd2-eabdfe20b9ab')
            input(type='submit', value='Buy Now!')
      .classes.simpleCart_shelfItem
        .thumbs
          img.item_thumb.verticalAlign(src="img/cut_thumbs/originate.png", width="200", alt="")
        .details                          
          h1.item_name ORIGINATE/CREATIVE CUTTING + COLOR COURSE
          select 
            option April 14-15 (2 day) 
            option Sep 22-23 (2 day)
          p This two day workshop will be sure to ignite your creativity and get you thinking outside of the box. Discover unique ways to give your client’s hair a little character, or push the envelope completely. Explore various techniques in cut and color that will enable you to combine current trends with your own creative expression.
          h3.item_price $800      
          form(name='PrePage', method='post', action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx')
            input(type='hidden', name='LinkId', value='5502a426-21f0-4fb0-b726-7f1453ccbb0a')
            input(type='submit', value='Buy Now!')
