extends layout
block content
 #educators.clearfix
   #educators_container
     h2 Educators
     .teachers
       figure#shelley
         figcaption
           h2 Shelley Mohr
           p Academy Director of Color
       figure#amita
         figcaption
           h2 Amita Moticka
           p Academy Director of Cutting
       figure#cares
         figcaption
           h2 Cares Mills
           p Assistant Academy Director of Color
       figure#debi
         figcaption
           h2 Debi Alley
           p Assistant Development Director of Cutting
       figure#jay
         figcaption
           h2 Jay Chagnon
           p Educator, Stylist
       figure#moises
         figcaption
           h2 Moises Villa
           p Assistant Creative Director
       figure#emily
         figcaption
           h2 Emily Kern
           p Educator, Colorist
       figure#ali
         figcaption
           h2 Ali Salahshoor
           p Educator, Colorist
       figure#brian
         figcaption
           h2 Brian Redman
           p Educator, Colorist
       figure#yureesh
         figcaption
           h2 Yureesh Hooker
           p Educator, Stylist
       figure#renee
         figcaption
           h2 Renee Dixon
           p Educator, Stylist
