extends layout

block content
  #educators
    figure.teachers#shelley
      figcaption
        h2 Shelley Mohr
        p Academy Director of Color
    figure.teachers#amita
      figcaption
        h2 Amita Moticka
        p Academy Director of Cutting
    figure.teachers#cares
      figcaption
        h2 Cares Mills
        p Assistant Academy Director of Color
    figure.teachers#akemi
      figcaption
        h2 Akemi Tamaribuchi
        p Creative Director, Educator
    figure.teachers#debi
      figcaption
        h2 Debi Alley
        p Assistant Development Director of Cutting
    figure.teachers#jay
      figcaption
        h2 Jay Chagnon
        p Educator, Stylist
    figure.teachers#dawn
      figcaption
        h2 Dawn Seelenbacher
        p Development Director of Cutting
    figure.teachers#moises
      figcaption
        h2 Moises Villa
        p Assistant Creative Director
    figure.teachers#emily
      figcaption
        h2 Emily Kern
        p Educator, Colorist
    figure.teachers#ali
      figcaption
        h2 Ali Salahshoor
        p Educator, Colorist
    figure.teachers#brian
      figcaption
        h2 Brian Redman
        p Educator, Colorist
    figure.teachers#michelle
      figcaption
        h2 Michelle Sandoval
        p Educator, Colorist
    figure.teachers#yureesh
      figcaption
        h2 Yureesh Hooker
        p Educator, Stylist
    figure.teachers#renee
      figcaption
        h2 Renee Dixon
        p Educator, Stylist
  
  