extends layout
block content
  #educators
    .container
      figure.teacher#shelley
        figcaption
          h2#teacherName Shelley Mohr
          p#teacherTitle Academy Director of Color
          p#teacherDescription 
            | Shelley Mohr's love for coloring hair began in 1992 at San Francisco's top salon, diPietro Todd. It was there that she received her training as a color specialist and continued on to successfully build and maintain a large clientele at diPietro Todd's Mill Valley location. With her remarkable talent and intense passion for hair, Shelley not only became an educator, but soon thereafter was promoted to Director of Color Education for diPietro Todd's training program Development. Shelley has been influential in the training of diPietro Todd's future color professional and, thus, instrumental in the growth of diPietro Todd Salon's five locations.
            | In 2004, Shelley partnered with Kim and Andrew Todd, along with Amita Moticka, to create the diPietro Todd Academy. As Director of Color Education for diPietro Todd's professional academy, Shelley has developed a color curriculum that covers all aspects of color training and involves visual, written, and practical applications. She has also helped produce hair and fashion events representing L'Oreal Professionnel, Kérastase and Shu Uemura, as well as seasonal collections and photo shoots for diPietro Todd.
            | One of Shelley Mohr's major achievements to date has been her involvement in the L'Oreal Professionnel Creative Team as one of their featured Portfolio Artists. She has had the honor of working on multiple national collections and the opportunity to travel all over the country educating at salons and V.I.P. events, including trade shows and, most notably, Intercoiffure and The International Hair Color Exchange. Most recently, Shelley has been asked to teach on the Master's Stage, showcasing L'Oreal Professionnel's new premier color line, INOA.
            | Shelley has also been featured in professional industry magazines such as HairColor & Design, Modern Salon, Launchpad, and American Salon, covering topics ranging from salon business to color education and creativity. When Shelley is not teaching or traveling, she is in the salon working with her clients, continuing to further her exploration of and passion for redheads, power blondes, rich brunettes, and corrective color.

      figure.teacher#amita
        figcaption
          h2#teacherName Amita Moticka
          p#teacherTitle Academy Director of Cutting
          p#teacherDescription
            | Amita Moticka started her hairdressing career at the age of seventeen. She completed her apprenticeship at Vidal Sassoon in Los Angeles. Upon completion, she began the teacher training program while working for Vidal Sassoon. After just a couple of years, Amita was fortunate enough to travel around the world to teach and work as a Platform Artist for Vidal Sassoon.
            | Amita came to diPietro Todd salon in 1997, where she lended her expertise in helping create Development, the assistant training program she would later become the Director of. Once the Development program began to thrive, Amita moved to New York to pursue her creative outlets such as film, videos, photo shoots, and numerous runway shows for designers such as Gucci, Yves Saint Laurent, Tula, and Betsey Johnson. Amita continued to travel to California on a regular basis to maintain her clientele on the west coast.
            | Over the years, Amita has had the pleasure of styling the rock n' roll locks of James Hetfeild (Metallica), Sammy Hagar (Van Halen), members of Wilco, Cake, Dieselhead, and Jolie Holland just to name a few. Amita also toured with the legendary band, Journey, as their personal hairstylist.
            | Amita Moticka started her hairdressing career at the age of seventeen. She completed her apprenticeship at Vidal Sassoon in Los Angeles. Upon completion, she began the teacher training program while working for Vidal Sassoon. After just a couple of years, Amita was fortunate enough to travel around the world to teach and work as a Platform Artist for Vidal Sassoon.
            | In 2004, Amita reunited with her partners at diPietro Todd, Shelley Mohr, Kim and Andrew Todd, and created the diPietro Todd Academy. Several years later, she now spends most of her time in San Francisco. When she is not traveling as an educator and diPietro Todd Academy Director of Haircutting, she divides her time between the five different diPietro Todd Salon locations working on her devoted clients.

      figure.teacher#cares
        figcaption
          h2#teacherName Cares Mills
          p#teacherTitle Assistant Academy Director of Color
          p#teacherDescription
            | Cares Mills began her hair coloring career in 1992 in New York City. After spending 3 years between Manhattan and Beverly Hills at Louis Licari Color Group, she joined the diPietro Todd Color department when she moved to SF in 1995. Currently, Cares is the Assistant Academy Director of Color for diPietro Todd Academy and also upholds the title as Artist for the Matrix/Logics Education Team.
            | She specializes in dimensional highlights and is known for her distinctive knife-based highlighting technique. Over the years, she has had the pleasure of working in film and television throughout Los Angeles and San Francisco with many famous models, actors, and musicians, but finds working with her every day clientele the most rewarding.

      figure.teacher#debi
        figcaption
          h2#teacherName Debi Alley
          p#teacherTitle Assistant Development Director of Cutting
          p#teacherDescription
            | After her ten year career with Vidal Sassoon as a stylist, educator and assistant manager, Debi joined the diPietro Todd team in 2006. Debi has a passion for teaching, growing + sharing ideas.  She splits her week behind the chair with clients, as Development Director of diPietro Todd's in-house apprenticeship program, and as an educator for our Academy, teaching fellow hairdressers in the industry.
            | Debi's proudest accomplishments are: creating the Altruist Project, a non-profit organization for hairdressers to donate their services to those in need, getting a black belt in Karate, and most importantly watching one of her students execute an amazing haircut.

      figure.teacher#jay
        figcaption
          h2#teacherName Jay Chagnon
          p#teacherTitle Educator, Stylist
          p#teacherDescription
            | Jay began his training by working closely with a New York editorial stylist from whom he learned a multitude of hair styling and extension techniques. After relocating to San Francisco, Jay began his career at diPietro Todd as a student in the development program and is currently one of the salon's most popular stylists, specializing in creative haircutting techniques and hair extension services. Jay joined the diPietro Todd creative team as an educator and has worked on various runway and editorial projects.
            | He has become an integral part of diPietro Todd's ongoing effort to bring up the level of hair and fashion and continues to be an inspiring force at the diPietro Todd Academy.

      figure.teacher#moises
        figcaption
          h2#teacherName Moises Villa
          p#teacherTitle Assistant Creative Director
          p#teacherDescription
            | Moises Villa landed at diPietro Todd at the age of 22 where he was recognized as a special talent early on and where his fruitful journey as a hair stylist began. In the 12 years that he has been with diPietro Todd, Villa has had creative involvement in photo shoots for the salon, been published as an editorial stylist for local magazines, + continues to teach + inspire our apprentices in our in-house Development program + Academy.
            | His work embodies a wide range of styles from conservative to the most daring avant garde. He has styled at the last 6 seasons of New York Fashion Week under the direction of Kerastase’s master stylist Odile Gilbert at shows such as Rodarte, Jason Wu, LAMB, Creatures of the Wind, Rachel Zoe, Thakoon, Suno, Phillip Lim and Theory. 
            | As diPietro Todd's Creative Director he is constantly involved in growing + maintaining the diPietro Todd Salons + Academy brand through his work in supporting photo shoots, classes, + events produced by the Creative Team. Villa greatly influences these areas drawing from his professional + personal experience in the fashion, art, music + culture of San Francisco. He is a regular on the scene of fashion editorials, runway events, + industry educational productions. In his personal time he is constantly working to master the craft of hairstyling + considers it to be more than just a career—it is his lifestyle.

      figure.teacher#emily
        figcaption
          h2#teacherName Emily Kern
          p#teacherTitle Educator, Colorist
          p#teacherDescription
            | Growing up all over the world, Emily has been creatively inspired by a wide range of culture, architecture, fashion and music. This diverse exposure has molded her into the creative eclectic colorist and individual that she is today. Emily joined diPietro Todd as a student in the training program back in 2001. Since then she has made a name for herself as a brilliant colorist and passionate teacher.
            | Emily specializes in creative color and is renowned for her blondes. She enjoys the balance of growing and maintaining a loyal clientele and sharing her daring approach to coloring hair with other colorists. Because of her remarkable talent in various hair coloring techniques and styling, Emily is currently a educator for the diPietro Todd Academy and the Director of Color Education for the diPietro Todd Development Program.
            | She has also worked on various photo shoots, fashion shows and is a regular platform artist at diPietro Todd's anuual Collective shows. Her work has been published in numerous issues of Hair Color and Design and she was listed as a top colorist in San Francsico in the New York Times bestseller "How Not To Look Old." She continues to inspire herself and others through what she considers to be the key to success: education.

      figure.teacher#ali
        figcaption
          h2#teacherName Ali Salahshoor
          p#teacherTitle Educator, Colorist
          p#teacherDescription
            | Ali Salahshoor graduated from high school at the very young age of 16. From there he pursued a two year education in the field of Architecture. Ali always had a lingering passion for the world of hairdressing and discovered that he could implement concepts and theories from architecture school and apply them to haircutting and styling. Thus began the inspiration for his love of hair. Ali listened to his instinct and began his bountiful career as a hair stylist.
            | Ali completed his training at Vidal Sassoon where he built his reputation as a gifted hair stylist and soon after successfully ventured onto the roles of Educator and Art Director. Throughout the years, he has had the pleasure of traveling and teaching at Vidal Sassoon's salons and academies in Los Angeles, Chicago, New York, Toronto, and London. Ali continued to hone his craft while gaining insight and knowledge from his students and fellow hair stylists from all over the globe.
            | In 1995, Ali joined the diPietro Todd family for the next four years. He then moved to India to explore their culture. Upon his return from India, Ali became a proud business owner opening Oud salon. In 2009, Ali decided to return to diPietro Todd and has quickly become one of our salon's top Stylists and Educator.
            | Ali is an impassioned educator and is known for his gregarious and resonating teaching style. His most rewarding moments as a teacher are when he makes a unique and purposeful connection with his students while watching them grow, learn, and apply themselves through his guidance.

      figure.teacher#brian
        figcaption
          h2#teacherName Brian Redman
          p#teacherTitle Educator, Colorist
          p#teacherDescription
            | Brian started his career working at a high-end salon in the metro Detroit area. It was here he found a mentor in Toni + Guy Artistic Director David Hockney. David pressed upon Brian the importance of education and exposed him to the world of platform and editorial hairdressing.
            | In 2001, Brian became an Artistic Technical Trainer for L'Oreal Professionel. Andrew Bartfield, Vice President of Education, quickly recognized his passion for L'Oreal Professionel. He was asked to become a member of the portfolio team and has since been involved in the creation of two national collections and traveled the country sharing his knowledge with industry professionals. In 2003, Brian began to work with industry icon Vivienne McKinder. Under her creative influence his work elevated to a whole new level. Being Color Director of HairdesignerTV.com allowed him to work in Italy, London, Brazil, as well as many cities around the United States. In 2008, Brian collaborated with Vivienne on various editorial collections which appeared in American Salon, Modern salon, and Hair Dressers Journal magazines.
            | After a brief period in New York Brian found a home at diPietro Todd where he is currently a member of the Artistic Team and an Academy Educator. As a member of the art team he is regularly asked to create looks for in house photo shoots, collections, shows, as well as maintaining the color of local models. Working with hairdressings elite, Brian has perfected his own blend of current fashion and technical excellence. Drawing from the world of art, fashion, and pop culture, he is inspired to create wearable, beautiful hair color. Brian's goal is not to be a master colorist, but to make every color he works on a masterpiece.

      figure.teacher#yureesh
        figcaption
          h2#teacherName Yureesh Hooker
          p#teacherTitle Educator, Stylist
          p#teacherDescription
            | Yureesh's creativity began at a very young age in mid-town Manhattan as a multi-talented artist and musician. His perpetual appreciation for art and creativity became the window into his heart, mind and soul, and through a conflagration of events, he landed in the Bay Area in 2001. Through his passion of visual arts and connection with people, he began his journey with diPietro Todd as an assistant in the Development program and after only a couple of years he landed on the floor at our Mill Valley location as a stylist. Yureesh, known for his warm and energetic personality, has built a solid following over the past 10 years with diPietro Todd. Education has also become a very significant part of his career as a hair stylist. For a number of years, he has been an educator for the very Development program that raised him as well as for the Academy. His latest endeavor in this regard is his position as a Portfolio Artist for L'oreal Proffessionel which allows him to travel and teach stylists all over the country, with the intent of sharing his love of this art-form with everyone he encounters.
            | Yureesh continues to stay passionate about his role as a stylist and educator knowing that his only limit in this art form truly is his imagination.

      figure.teacher#renee
        figcaption
          h2#teacherName Renee Dixon
          p#teacherTitle Educator, Stylist
          p#teacherDescription
            | Renee Dobrowolski has been with diPietro Todd for 5 years. Her career started 15 years ago at Vidal Sassoon. There she was a top stylist and educator. She then went on to teach for several other top salons in SF which then landed her here at diPeitro Todd Salon.
            | Her passions for hair are various. Trained as a haircutter she now has added to her resume working in fashion and bridal. She is an educator for diPeitro Todd Academy for a variety of classes including men's haircutting and curly hair. Her favorite part of her job is her clientele.
