extends layout
block content
  #etc
    .container
      .classes.simpleCart_shelfItem
        .thumbs
          img.item_add(src="img/etc_thumbs/expand.png", width="200", alt="")
        .details      
          h1.item_name EXPANSION/EXTENSIONS
          p This course will focus on using Shrink Links/ Micro Tabs to help stylists determine and execute the appropriate technique and type of extensions for your client. Certification upon completion from Extensions Plus.
          h3.item_price $1,200
          form(name='PrePage', method='post', action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx')
            select
              option(value='0887ce5f-9ca6-4c22-843b-4c715773449c') Oct 6
            input(type='hidden', name='LinkId', value='')
            input(type='submit', value='Buy Now!')

      .classes.simpleCart_shelfItem
        .thumbs
          img.item_add.verticalAlign(src="img/etc_thumbs/envision.png", width="200", alt="")
        .details                          
          h1.item_name ENVISION/PHOTO SHOOT + COLLECTIONS
          p This two-day workshop will give stylists and colorists the inspiration to create their very own collection. Take the lead and give artistic direction at your own photo shoot. Our creative team will cover everything from A-Z; choosing photographers, models, and make-up artists to the tools and tricks of the trade.
          h3.item_price $800
          form(name='PrePage', method='post', action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx')
            select
              option(value='d892b6c5-3a5b-417b-bba5-e5944ffab59e') June 23-24 (2-day)
            input(type='hidden', name='LinkId', value='')
            input(type='submit', value='Buy Now!')

      .classes.simpleCart_shelfItem
        .thumbs
          img.item_add.verticalAlign(src="img/etc_thumbs/transform.png", width="200", alt="")
        .details                          
          h1.item_name TRANSFORM/PERM + STRAIGHTEN 2 DAY
          p Explore the world of texture and learn how to give your client a life changing service! In this two day class we will examine a range of textures and teach you how to enhance and control your clients hair with the use of chemicals to break and reform the bonds of the hair. We will begin with the basic fundamentals and move into a more creative and alternative approach of permanent waves, relaxers and the keratin straightening treatment.
          h3.item_price $800
          form(name='PrePage', method='post', action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx')
            select
              option(value='42b82270-86b2-4ffe-b8f3-04b71fc551e2') Sep 22-23 (2-day)
            input(type='hidden', name='LinkId', value='')
            input(type='submit', value='Buy Now!')

      .classes.simpleCart_shelfItem
        .thumbs
          img.item_add(src="img/etc_thumbs/bridal.png", width="200", alt="")
        .details                          
          h1.item_name BRIDAL/CLASSIC + CONTEMPORARY STYLING
          p Wedding season is a fun and busy time for us hairstylists. Learn how to make a bride and her wedding party happy. The task may seem daunting but with the know-how of classic and contemporary upstyling it will be achievable. You will learn proper setting, and what tools and accessories will help you give your bride exactly what she wants on her big day!
          h3.item_price $525
          form(name='PrePage', method='post', action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx')
            select
              option(value='775ad1f9-60ea-4c10-a986-ace5522d4e3a') Jul 21
            input(type='hidden', name='LinkId', value='')
            input(type='submit', value='Buy Now!')

      .classes.simpleCart_shelfItem
        .thumbs
          img.item_add(src="img/etc_thumbs/design101.png", width="200", alt="")
        .details                          
          h1.item_name DESIGN 101/STYLING + BLOWDRYING
          p Learn the basics of what it takes to be a fantastic hairdresser. Design 101 covers foundational topics such as the usage of hairbrushes, pins, styling products, blow driers, and hot tools on different hair textures. These simple yet impactful techniques are beneficial and will help shape the beginner stylist.
          h3.item_price $525
          form(name='PrePage', method='post', action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx')
            select
              option(value='5427b409-3f5e-42f1-bd00-51ab395d6e70') Feb 10
              option(value='a964f725-bb87-492f-92f0-6759c8a5d15f') Oct 13
            input(type='hidden', name='LinkId', value='')
            input(type='submit', value='Buy Now!')

      .classes.simpleCart_shelfItem
        .thumbs
          img.item_add(src="img/etc_thumbs/design102.png", width="200", alt="")
        .details                          
          h1.item_name DESIGN 102/STYLING + UPSTYLING
          p From editorial work and styling to updos and braiding, this course will inspire you to take your styling skills to another level. You will cover every aspect from setting and prepping the hair to fine detailing for photo shoots or special events. This class will leave you with a full range of ideas of techniques to work with.
          h3.item_price $525
          form(name='PrePage', method='post', action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx')
            select
              option(value='4981af50-a23c-4bb9-9706-0eef198c60ba') May 19
            input(type='hidden', name='LinkId', value='')
            input(type='submit', value='Buy Now!')

          