extends layout
block content
  #FAQ.clearfix
    h2 FAQ
    h3 How do I book an academy class?
    p
     | Simply book your class online. Click on “classes” on the navigation bar at the top of this page. You can browse for your desired classes by category (ie. cut, color, etc) or by month and date when you select “calendar”. You will then be prompted to use our online shopping cart to make your purchase. We accept Visa and Mastercard (??). Booking your academy class is just a few clicks away.
    p
     | You can also book your classes by calling 415-693-5546 Monday thru Thursday between the hours of 9:00am and 4:00pm.
    h3 How do I use the Point Rewards system to pay for my class?
    p
     | We have a point rewards system with the following brands: L’Oreal Professionel Elite, Kerastase Exclusif.K, Rene Furterer, and Salon Centric, If the salon you work for accrues points with any of the brands, please ask your representative to contact us directly for enrollment via email: academy@dipietrotodd.com or call 415-693-5546 (Monday thru Thursday between 9:00-4:00pm).
    h3 What time does class start/ What is a typical day like?
    p
     | We recommend you give yourself plenty of time to park and plan to arrive at approximately 9:30am. We provide coffee, tea, and water along with breakfast fruits and nutritious snacks. Class begins at 10:00am. The first half of the class begins with a walk-thru of the space so that you can get to know your surroundings and make yourself at home. The first half of the day consists of introductions, an overview of class materials, theory and live demonstrations and presentations.
    p
     | At approximately 1:00pm, the class breaks for about 45 mins to an hour. During this time, we welcome you to enjoy the surrounding areas and restaurants or cafes to have lunch (we provide you with a map of restaurants nearby). When you return, the second half of the class begins with the hands-on workshop portion. Depending on the class you have enrolled in, you will be working on a mannequin head (human hair) OR a live workshop model (we will provide either one for you). To find out if the class you have enrolled in works with mannequin heads or live workshop model, simply look under the class description.
    p
     | The class typically ends at approximately 5:00pm. Our hands-on workshop portion allows you to implement the techniques you have learned in the class. The teacher will give you direction as well as guide you through this process.We believe in fostering an intimate, fun and creative learning environment.
    p If you have enrolled in a 2-day course, both days typically follow this protocol.
    h3 Where is diPietro Todd Academy located and how do I get there?
    p
     | diPietro Todd Academy is located at 177 Post St. 2nd Floor San Francisco, CA 94108. We are near the corner of Post and Grant. Our entrance is in between DeBeers Jewelry and Max Mara (directly across from the North Face store). When you enter, just take the elevator up to the 2nd floor.
    h3 Where is the best place to park?
    p Sutter Stockton Parking Garage 444 Stockton St (at Bush St) San Francisco, CA 94108 415-982-7275
    p Union Square Garage