extends layout

block content
  #blackOverlay
    #underConstruction
      #constrContainer
        h1 Our Site is Currently Under Construction!
        p
          | Please bear with us. For a list of 2013 Academy classes please visit 
          |  <a href="http://www.facebook.com/photo.php?fbid=10151278176415699&set=pb.133582325698.-2207520000.1359158876&type=3&theater">facebook</a>. 
          | Contact Kelly Nyland to sign-up at 415-693-5546 or kelly@dipietrotodd.com.
        p
          | In the meantime, feel free to browse our old site by clicking the logo below
        a(href='http://wp.dipietrotoddacademy.com')
          img(src='img/small-logo.png')
  head  er.clearfix
    a(href='/') 
      #logo
  #slideshow.clearfix
    div#first
    div#second
    div#third
  #featured
    .classContainers
      h3 Cut
      .feature-small#feature1
    .classContainers
      h3 Color
      .feature-small#feature2
    .classContainers.clearfix
      h3 Etc. 
      .feature-small#feature3
    
    
    