extends layout

block content
  #featured.clearfix
  footer
    .classContainers
      h3 Cut
      .feature-small#feature1
    .classContainers
      h3 Color
      .feature-small#feature2
    .classContainers.clearfix
      h3 Etc. 
      .feature-small#feature3
    
    
    