extends layout

block content
  header#logo.clearfix
  nav.clearfix
    ul
      li
        a(href='classes') classes
      li
        a(href='about') about
      li
        a(href='educators') educators
      li
        a(href='culture') culture
      li
        a(href='saloned') in salon education
      li
        a(href='contact') contact us
  figure#featured.clearfix
  footer.clearfix
    div.feature-small#feature1
    div.feature-small#feature2
    div.feature-small#feature3
    
    