extends layout

block content
  #featured.clearfix
  footer.clearfix
    h3.animated.fadeInLeft Cut
    div.feature-small#feature1.animated.flipInX
    h3.animated.fadeInLeft Color
    div.feature-small#feature2.animated.flipInX
    h3.animated.fadeInLeft Etc. 
    div.feature-small#feature3.animated.flipInX
    
    
    