extends layout
block content
  #slideshow.clearfix
    div#first
    div#second
    div#third
    div#fourth
    div#fifth
  #featured
    .classContainers
      h3 Cut
      a(href='/color')
        .feature-small#feature1
    .classContainers
      h3 Color
      a(href='/color')
        .feature-small#feature2
    .classContainers.clearfix
      h3 Etc. 
      a(href='/etc')
        .feature-small#feature3
    
    
    