extends layout

block content
  #slideshow.clearfix
    div#first
    div#second
    div#third
    div#fourth
    div#fifth
  #featured
    .classContainers
      h3 Cut
      a(href='http://wp.dipietrotoddacademy.com/?page_id=4/cut/')
        .feature-small#feature1
    .classContainers
      h3 Color
      a(href='http://wp.dipietrotoddacademy.com/?page_id=4/color/')
        .feature-small#feature2
    .classContainers.clearfix
      h3 Etc. 
      a(href='http://wp.dipietrotoddacademy.com/?page_id=4/etc/')
        .feature-small#feature3
    
    
    