extends layout
block content
  #insalon
    #insalon_container
      h2 In Salon Education
      p
        | diPietro Todd educators are some of the most highly trained hairdressers in the industry. In addition to our classes in downtown San Francisco, we offer the opportunity for your salon to bring one of our talented staff directly to you and your team. Choose from any of our classes which always include part theory and part hands-on workshop. 

      p
        | We offer friendly and patient guidance tailored to the pace of your salon whether your staff are beginners or seasoned professionals looking to brush up on the basics. 

      p
        | Please contact your Rene Furterer, oreal or Kerastase representative to request a class from diPietro Todd Academy. Otherwise you can reach us directly at academy@dipietrotodd.com or 415-693-5546.
      .insalon