!!! 5
html(lang="en").no-js
  head
    include includes/common
    block head
  body
    #shoppingcart
    header.clearfix
      a(href='/')
        #logo
    include includes/nav
    block content
    include includes/scripts