!!! 5
html(lang="en").no-js
  head
    include includes/common
    block head
  body
    #shoppingcart
    header.clearfix
      a(href='/')
        #logo
    include includes/nav
    //img(id="shopping", src="img/shoppingcart.png", width="52", alt="")
    include includes/cart
    .social
      a(href="http://dipietrotodd.tumblr.com", target="_blank")
        img(src="img/tumblr.png", width="45px", alt="")
      a(href="https://twitter.com/dipietro_todd", target="_blank")
        img(src="img/twitter.png", width="45px", alt="")
      a(href="https://www.facebook.com/dipietrotodd", target="_blank")
        img(src="img/facebook.png", width="45px", alt="")

    block content
    include includes/scripts