!!! 5
html(lang="en").no-js
  head
    include includes/common
    block head
  body
    #shoppingcart
    header.clearfix
      a(href='/')
        #logo
    include includes/nav
    img(id="shopping", src="img/shoppingcart.png", width="52", alt="")
    block content
    include includes/scripts