/* ==========================================================================
   Styles by: Cameron Drake
   ========================================================================== */
body
  margin: 0
  line-height: 1.4
  height: 100%
  width: 100%

selection = #999999
::-moz-selection
  background: selection
  color: #fff
  text-shadow: none

::selection
  background: selection
  color: #fff
  text-shadow: none

.clearfix  
  clearfix()

/* =========================================================================
   Links
   =========================================================================*/
a
  color: #00e

a:visited
  color: #551a8b

a:hover
  color: #06e

a:focus
  outline: thin dotted

a:hover, a:active
  outline: 0

/* ==========================================================================
   General Styles
   ========================================================================== */
$navcolor = #ccc
$navhighlight = rgba(55,176,230,1)
$dipietrofonts = 'Helvetica Neue',Helvetica,Arial,sans-serif
$contentBlockWidth = 60em
$headerHeight = 11.25em
$footerHeight = 4.375em
$checkoutWidth = 600px
@font-face { font-family: Blair; src: url('../343.ttf'); } 
body
  background-color: #000
  font-family: $dipietrofonts
  background-image: url('../img/wood.jpg')
  background-size: cover
  background-attachment: fixed
header
  width: 100%
  height: $headerHeight
  #logo
    width: 42.5em
    height: 9.6em
    margin: auto
    margin-top: 1.25em
    background-image: url('../img/logo.png')
    background-size: cover
    background-repeat: none
    animation-delay: 0.5s
#shopping
  position: fixed
  top: 1%
  right: 1%
.social
  position: fixed
  bottom: 1%
  left: 1%
  width: 20em
  a
    float: left
    margin-left: 1em
pictureBackground()
  width: 100%
  margin: auto
  text-align: center
  background: url('../img/about.jpg')
  height: auto
  background-size: cover
  .container
    width: 100%
    height: auto
    margin: auto
    background: rgba(0,0,0,0.7)
    overflow: scroll
whiteBackground(n)
  width: 100%
  text-align: center
  background: rgba(255,255,255,0.75)
  margin: auto
  .container
    height: n
    width: $contentBlockWidth
    margin: auto
/* ==========================================================================
   Lightbox classes
   ========================================================================== */
.blackOverlay
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0,0,0,0.75)
  z-index: 1001
  .light
    width: 80%
    height: 75%
    margin: auto
    margin-top: 4em
    background-color: rgba(255,255,224,1)
    z-index: 1002
    position: relative
    border-radius: 25px
    text-align: center
    figure
      width: 85%
      margin: auto
      h1
        font: small-caps 100 2em 'Arvo'
        color: #222
        padding-top: 2em
      p
        margin-top: 3em
        font: 200 1em 'Helvetica Neue', sans-serif
.xbutton
  width: 2em
  height: 2em
  position: absolute
  top: -1%
  right: -1%
  background: url('../img/x-button.png') no-repeat
  background-size: cover
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  z-index:  1009
/* ==========================================================================
   Navigation
   ========================================================================== */
.navContainer
  width: 100%
  height: 4em
  nav
    width: 760px
    margin: auto
    ul
      list-style-type: none
      margin: auto
      li
        margin: 0
        margin-right: 1.5em
        font: small-caps 100 1.2em Blair
        float: left
        animation-duration: 0.35s !important
        text-align: justify
        a
          color: $navcolor
          text-decoration: none
        a:visited
          color: $navcolor
        a:hover
          color: $navhighlight
/* ======================================================================
   Index Styles
   ======================================================================*/
#slideshow
  width: 800px
  height: 546.25px
  margin: auto
  position: relative
  //box-shadow: 0 0 1.25em rgba(0,0,0,0.4)
  div 
    background-size: cover
    position: absolute
    top: 0.625em
    left: 0.625em
    right: 0.625em
    bottom: 0.625em
  #first
    background-image: url('../img/main1.jpg')
  #second
    background-image: url('../img/main2.jpg')
  #third
    background-image: url('../img/main3.jpg')
  #fifth
    background-image: url('../img/main4.jpg')
  #fourth
    background-image: url('../img/main5.jpg')

#featured
  width: $contentBlockWidth
  margin: auto
  .classContainers
    width: ($contentBlockWidth/3)
    float: left
    text-align: center
    h3
      font: small-caps 1.5em Blair
      color: #fff 
    .feature-small
      width: 12.5em
      height: 10em
      background-size: cover
      margin: auto
      animation-duration: 0.75s
      margin-bottom: 4em
      animation-delay: 0s
    #feature1
      background-image: url('../img/cut_thumb.jpg')
    #feature2
      background-image: url('../img/color_thumb.jpg')
    #feature3
      background-image: url('../img/etc_thumb.jpg')

/* ======================================================================
   Classes Styles
   ======================================================================*/
#classes
  width: $contentBlockWidth
  margin: auto
  padding: 0
  .classCat
    width: 40em
    height: 25em
    margin: auto
    display: block
    position: relative
    margin-bottom: 1em
    h3 
      color: #fff
      font: bold 4.6875em sans-serif
      position: absolute
      right: 1.25em
      top: 0.2em
    p
      width: 12em
      height: 1.5em
      color: #222
      background-color: rgba(255,255,255,0.5)
      font: small-caps 1.5em sans-serif
      float: right
      position: absolute
      text-align: center
      bottom: 2em
      right: 1.25em
  #cut
    background-image: url('../img/cut.jpg')
  #color
    background-image: url('../img/color.jpg')
  #etc
    background-image: url('../img/etc.jpg')
/* ======================================================================
   FAQ
   ======================================================================*/
#FAQ
    pictureBackground(90em)
    #frequently
      width: $contentBlockWidth
      margin: auto
      h2
        font: 100 2em "Josefin"
        color: #fff
        text-align: center
      h3 
        font: 100 1.5em 'Arvo'
        color: #999
        text-align: left
        margin-top: 1em
        width: 30em
      p
        font: 200 0.9em $dipietrofonts
        text-align: left
        color: #fff
        margin-top: 1em
        margin-left: 1em
        width: 60em
/* ==================================================================== 
  In Salon
  ======================================================================*/
#insalon
    pictureBackground(90em)
    h2
      font: italic small-caps 100 2em "Josefin"
      color: #fff
      margin: 1em
    p
      font: 200 1em $dipietrofonts
      color: #ccc
      width: 40em
      margin: auto
    .insalon
      background: url('../img/insalon.jpg')
      width: 40.9375em
      height: 26.5625em
      margin: auto
      position: relative
/* ==========================================================================
   Class Mixin
   ========================================================================== */
classBackground(n)
  width: 100%
  margin: auto
  text-align: center
  background: url(n)
  background-size: cover
  .container
    width: 100%
    margin: auto
    background: rgba(0,0,0,0.65)
    .classes
      margin: auto
      padding: 1em
      width: 800px
      height: 300px
      background: rgba(0,0,0,0.2)
      .thumbs
        width: 200px
        height: 300px
        float: left
        display: table
        img.verticalAlign
          vertical-align: middle
          display: table-cell
          margin-top: 30px
      .details
        width: 580px
        height: 300px
        float: left
        margin: 0 0 0 1em
        text-align: left
        h1
          color: #fff
          font: 100 2em $dipietrofonts
        h2
          color: #666
          font: italic small-caps 100 1.1em "Josefin"
        p
          color: #ccc
          font 200 1em $dipietrofonts
        h3
          color: #666
          float: left
        input
          float: right
          margin: 1em
#cut
    classBackground('../img/cutBackground.jpg')
#color
    classBackground('../img/colorBackground.jpg')
#etc
    classBackground('../img/etcBackground.jpg')          
/* ======================================================================
   Shopping Cart
   ======================================================================*/
.simpleCart_items table
  border: 1px solid #ccc
  .simpleCart_items th 
    color: #333
    text-align: left
    padding: 10px 30px
    border-bottom: 1px solid #ccc
    background: #ededed
  .simpleCart_items td
    color: #333
    text-align: left
    padding: 10px 30px
    border-bottom: 1px solid #ccc
  .item-quantity input
    width: 30px
    text-align: center
.item-name
  width: 65%
  text-align: left
.item-price
  width: 12.5%
  text-align: center
.item-quantity
  width: 10%
  text-align: center
.item-total
  width: 12.5%
  text-align: right
.item-image
  display: none
.headerRow
  height: 2em
  text-align: left
  div
    float: left
.itemRow
  div
    float:left
    text-align: left
/*.simpleCart_decrement, .simpleCart_increment, .simpleCart_remove
  display: none*/
.cartFiller
  width: 59%
  float: left
  height: 1em
.simpleCart_total
  float: right
  width: 100%
  text-align: right
.simpleCart_grandTotal
  width: 100%
  float: right
  text-align: right
/* ======================================================================
   Checkout
   ======================================================================*/
#fade
  #checkout
    width: 70%
    background: rgba(255,255,255,0.75)
    height: 85%
    margin: auto
    margin-top: 3em
    background-color: rgba(255,255,224,1)
    z-index: 1002
    position: relative
    border-radius: 25px
    text-align: center
    h1
      font: small-caps 100 2em 'Arvo'
      color: #222
      padding-top: 2em
    #shoppingCart
      height: 20em
      overflow: scroll
      width: 90%
      margin-top: 2em
      margin-left: 2%
      float: left
    form
      width: 100%
      float: left
      fieldset
        padding:0
      input
        margin-top: 1em
        width: 75%
      .form1, .form2
        float:left
        width: 50%
/* ======================================================================
   About Styles
   ======================================================================*/
#aboutUs
    pictureBackground()
    #academy
      width: $contentBlockWidth
      margin: auto
      img
        float: left
        margin: 0 1em
      h2
        font: italic small-caps 100 2em "Arvo"
        color: #fff
        margin: 1em 
      p
        font: 100 1.0em "Arvo"
        color: #ccc
        margin: 1em

/* ======================================================================
   Educators  Styles
   ======================================================================*/
#educators
    whiteBackground(50em)
    figure
      margin: 0.5em
      width: 13em
      height: 13em
      background-size: cover
      float: left
      overflow: hidden
      display: block
      position: relative
      figcaption
        width: 100%
        height: 4.6875em
        position: absolute
        background: #000
        color: #fff
        opacity: 0
        bottom: -4.6875em
        z-index: 50
        transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000) /* ease-in-out */
        transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000) /* ease-in-out */		
      h2
        font: 100 1.2em "Helvetica Neue"
        margin: 0
        color: #fff
      p
        font 100 1em "Helvetica Neue"
        line-height:1
    figure:hover
      figcaption
        opacity: 0.75
        bottom: -1px
    #shelley
      background-image:url('../img/teachers_thumbs/shelley.jpg')
    #amita
      background-image:url('../img/teachers_thumbs/amita.jpg')
    #cares
      background-image:url('../img/teachers_thumbs/cares.jpg')
    #debi
      background-image:url('../img/teachers_thumbs/debi.jpg')  
    #jay
      background-image:url('../img/teachers_thumbs/jay.jpg')  
    #moises
      background-image:url('../img/teachers_thumbs/moises.jpg')  
    #emily
      background-image:url('../img/teachers_thumbs/emily.jpg')  
    #ali
      background-image:url('../img/teachers_thumbs/ali.jpg')  
    #brian
      background-image:url('../img/teachers_thumbs/brian.jpg')  
    #yureesh
      background-image:url('../img/teachers_thumbs/yureesh.jpg')  
    #renee
      background-image:url('../img/teachers_thumbs/renee.jpg')  

/* ======================================================================
   Contact Styles
   ======================================================================*/
#contact
    whiteBackground(50em)
    #contactform
      float: left
      width: ($contentBlockWidth/2)
      form
        $formSize = 15.625em
        width: $formSize
        input
          width: $formSize
        textarea
          width: $formSize
        input[type="submit"]
          width: 2.5em
    #location
      float: right
      width: ($contentBlockWidth/2)
      text-align: center
      h1
        text-align: left
      hgroup
        width: 350px
      .alignRight
        float: right
        list-style: none
        text-align: right
      .alignLeft
        float: left
      img
        width: 250px
        margin: auto
      p#copy 
        color: #000
        font: small-caps 100 1em $dipietrofonts
        float: left
        margin-top: 1.875em

/* ======================================================================
   Media Queries
   ======================================================================*/
@media (min-device-width : 768px) and (max-device-width : 1024px)
  .blackOverlay
    position: fixed
    top: 0
    left: 0
    #underConstruction
      width: 85%
      height: 70%
      margin: auto
      margin-top: 3em
      #constrContainer
        width: 75%
        margin: auto
        h1
          font: small-caps 100 2em 'Arvo'
          color: #222
          padding-top: 3.5em
        p
          margin-top: 1em
          font: 100 1.5em 'Josefin Slab', serif
@media (min-device-width : 320px) and (max-device-width : 480px) 
  .blackOverlay
    position: fixed
    top: 0
    left: 0
    #underConstruction
      width: 85%
      height: 90%
      margin: auto
      margin-top: 5%
      #constrContainer
        width: 90%
        margin: auto
        h1
          font: small-caps 100 1.2em 'Arvo'
          color: #222
          padding-top: 2em
        p
          margin-top: 1em
          font: 100 1em 'Josefin Slab', serif