/* ==========================================================================
   HTML5 Display Definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section
  display: block

audio, canvas, video
  display: inline-block
  *display: inline
  *zoom: 1

audio:not([controls])
  display: none

[hidden]
  display: none

/* ==========================================================================
   Base & Resets
   ========================================================================== */

html
  font-size: 100%
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%
  height: 100%
  width: 100%

html, button, input, select, textarea
  font-family: sans-serif
  color: #222

body
  margin: 0
  line-height: 1.4
  height: 100%
  width: 100%

selection = #999999
::-moz-selection
  background: selection
  color: #fff
  text-shadow: none

::selection
  background: selection
  color: #fff
  text-shadow: none

img
  border: 0
  -ms-interpolation-mode: bicubic
  vertical-align: middle

svg:not(:root)
  overflow: hidden

figure
  margin: 0

.chromeframe
  margin: 0.2em 0
  background: #ccc
  color: black
  padding: 0.2em 0

/* ==========================================================================
   Styles by: Cameron Drake
   ========================================================================== */

// Variables
$navcolor = #ccc
$navhighlight = #666
$dipietrofonts = 'Helvetica Neue',Helvetica,Arial,sans-serif
$contentBlockWidth = 869px

body
  background-color: #000
  font-size: 0.75em
  font-family: $dipietrofonts

.clearfix:after  
   content: "." 
   visibility: hidden 
   display: block
   height: 0
   clear: both

header
  width: $contentBlockWidth
  height: 180px
  margin: auto
  margin-top: 50px
  
#logo
  background-image: url('../img/logo.png')
  background-repeat: none

nav
  width: $contentBlockWidth
  margin: auto
  margin-top: 30px
  ul
    li
      font: small-caps 100 24px $dipietrofonts
      float: left
      margin-left:40px // I need to develop a better method for centering these items
      a
        color: $navcolor
        text-decoration: none
      a:visited
        color: $navcolor
      a:hover
        color: $navhighlight
        text-decoration: underline
figure
  background-image: url('../img/main.png')
  width: 655px
  height: 437px
  margin: auto
  margin-top: 50px

footer
  width: $contentBlockWidth
  height: 200px
  margin: auto
  margin-top: 50px
  .feature-small
    width: 200px
    height: 160px
    background-size: cover
    float: left
    margin-right: 134.5px
  #feature1
    background-image: url('../img/1.png')
  #feature2
    background-image: url('../img/2.png')
  #feature3
    background-image: url('../img/3.png')
    margin-right: 0

#contact
  width: $contentBlockWidth
  height: 700px  
  margin: auto
  margin-top: 50px
  background: #fff
  #contactform
    float: left
    width: ($contentBlockWidth/2)
    margin-top: 50px
    form
      $formSize = 250px
      width: $formSize
      margin-left: 50px
      input
        width: $formSize
      textarea
        width: $formSize
      input[type="submit"]
        width: 40px
  #location
    float: right
    width: ($contentBlockWidth/2)
    margin-top: 50px
    hgroup
      width: 350px
    .alignRight
      float: right
      list-style: none
      text-align: right
    .alignLeft
      float: left


/* =========================================================================
   Links
   =========================================================================*/
a
  color: #00e

a:visited
  color: #551a8b

a:hover
  color: #06e

a:focus
  outline: thin dotted

a:hover, a:active
  outline: 0


/* ==========================================================================
    Typography
   ========================================================================== */

abbr[title]
  border-bottom: 1px dotted

b, strong
  font-weight: bold

blockquote
  margin: 1em 40px

dfn
  font-style: italic

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid #ccc
  margin: 1em 0
  padding: 0

ins
  background: #ff9
  color: #000
  text-decoration: none

mark
  background: #ff0
  color: #000
  font-style: italic
  font-weight: bold

pre, code, kbd, samp
  font-family: monospace, serif
  _font-family: 'courier new', monospace
  font-size: 1em

pre
  white-space: pre-wrap
  word-wrap: break-word

q
  quotes: none

q:before, q:after
  content: none

small
  font-size: 85%

sub, sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline

sup
  top: -0.5em

sub
  bottom: -0.25em

/* ==========================================================================
    Lists
   ========================================================================== */

ul, ol
  margin: 1em 0
  padding: 0 0 0 40px

dd
  margin: 0 0 0 40px

nav ul, nav ol
  list-style: none
  list-style-image: none
  margin: 0
  padding: 0