/* ==========================================================================
   Styles by: Cameron Drake
   ========================================================================== */
body
  margin: 0
  line-height: 1.4
  height: 100%
  width: 100%
  background-image: url('../img/wood.png')
  background-size: cover

selection = #999999
::-moz-selection
  background: selection
  color: #fff
  text-shadow: none

::selection
  background: selection
  color: #fff
  text-shadow: none

.clearfix  
  clearfix()

/* =========================================================================
   Links
   =========================================================================*/
a
  color: #00e

a:visited
  color: #551a8b

a:hover
  color: #06e

a:focus
  outline: thin dotted

a:hover, a:active
  outline: 0

/* ==========================================================================
   General Styles
   ========================================================================== */
$navcolor = #ccc
$navhighlight = orange
$dipietrofonts = 'Helvetica Neue',Helvetica,Arial,sans-serif
$contentBlockWidth = 60em
$headerHeight = 11.25em
$footerHeight = 4.375em

body
  background-color: #000
  font-size: 0.75
  font-family: $dipietrofonts

#blackOverlay
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(224,225,221,0.8)
  z-index: 1001
#overlayMessage
  display: none
  text-align: left
  position: absolute
  top: 1%
  left: 23%
  width: 50%
  height: 700px
  padding: 16px
  border:   5px solid red
  background-color: white
  z-index: 1002
  overflow: auto
  -webkit-box-shadow: 0px 0px 23px 0px #000
header
  width: 100%
  height: $headerHeight
  #logo
    width: 42.5em
    height: 8.8125em
    margin: auto
    margin-top: 1.25em
    background-image: url('../img/logo.png')
    background-size: cover
    background-repeat: none
    animation-delay: 0.5s
.navContainer
  width: 100%
  height: 4em
  position: fixed
  top: 0
  z-index: 100
  background: rgba(0,0,0,1)
  nav
    width: $contentBlockWidth
    margin: auto
    div
      display: inline-block
      zoom: 1
      *display: inline
    .col1
      width: 20%
      height: auto
      float: left
      #logoSmall
        width: 11em
        height: 1.5em
        margin-top: 1.25em
        background-image: url('../img/small-logo.png')
        background-repeat: none
        background-size: cover
        opacity: 1
    .col2
      width: 60%
      height: auto
      float: left
      margin: auto
      ul
        list-style-type: none
        li
          width: 24%
          margin: 0
          font: small-caps 100 1.5em $dipietrofonts
          float: left
          animation-duration: 0.35s !important
          text-align: justify
          a
            color: $navcolor
            text-decoration: none
          a:visited
            color: $navcolor
          a:hover
            color: $navhighlight
    .col3
      width: 20%
      float: left
      height: auto
      text-align: center

/* ======================================================================
   Index Styles
   ======================================================================*/
#slideshow
  width: 40.9375em
  height: 26.5625em
  margin: 4.5em auto
  position: relative
  padding: 0.625em
  box-shadow: 0 0 1.25em rgba(0,0,0,0.4)
  div 
    position: absolute
    top: 0.625em
    left: 0.625em
    right: 0.625em
    bottom: 0.625em
  #first
    background-image: url('../img/main.png')
  #second
    background-image: url('../img/main2.png')
  #third
    background-image: url('../img/main3.png')

#featured
  width: $contentBlockWidth
  margin: auto
  margin-top: 3.125em
  .classContainers
    width: ($contentBlockWidth/3)
    float: left
    text-align: center
    h3
      font: small-caps 1.5em $dipietrofonts
      color: #fff 
    .feature-small
      width: 12.5em
      height: 10em
      background-size: cover
      margin: auto
      animation-duration: 0.75s
      animation-delay: 0s
    #feature1
      background-image: url('../img/1.png')
    #feature2
      background-image: url('../img/2.png')
    #feature3
      background-image: url('../img/3.png')

/* ======================================================================
   Classes Styles
   ======================================================================*/
#classes
  width: $contentBlockWidth
  margin: 4.5em auto
  padding: 4.5em 0 0 0
  .classCat
    width: 42.6875em
    height: 23.0625em
    display: block
    margin: 3.125em auto
    position: relative
    h3 
      color: #fff
      font: bold 4.6875em sans-serif
      position: absolute
      right: 1.25em
    p
      width: 15.625em
      height: 2.1875em
      color: #fff
      background-color: rgba(255,255,255,0.3)
      font: small-caps 1.5em sans-serif
      float: right
      position: absolute
      padding-left: 2.1875em
      bottom: 3.125em
      right: 1.25em
  #cut
    background-image: url('../img/cut.png')
  #color
    background-image: url('../img/color.png')
  #etc
    background-image: url('../img/etc.png')
/* ======================================================================
   About Styles
   ======================================================================*/
#aboutUs
  width: $contentBlockWidth
  margin: auto
  padding-top: 4.5em
  text-align: center
  h2
    font: italic small-caps 100 2em "Georgia"
    color: #fff
  p
    font: 100 1.0em "Helvetica Neue"
    color: #ccc

/* ======================================================================
   Educators  Styles
   ======================================================================*/
#educators
  width: $contentBlockWidth
  margin:auto
  padding: 4.5em 00 4.5em
  text-align: center
  h2
    font: italic small-caps 100 2em "Georgia"
    color #fff
  .teachers
    width: 56em
    margin: auto
    figure
      margin: 0.5em
      width: 13em
      height: 13em
      background-size: cover
      float: left
      overflow: hidden
      display: block
      position: relative
      figcaption
        width: 100%
        height: 4.6875em
        position: absolute
        background: #000
        color: #fff
        opacity: 0
        bottom: -4.6875em
        z-index: 50
        transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000) /* ease-in-out */
        transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000) /* ease-in-out */		
	    h2, p
	      padding-left: 0.625em
          font: 100 "Helvetica Neue"
	      line-height: 1  // fix weird spacing on this
	      color: #ccc
    figure:hover
      figcaption
        opacity: 0.75
        bottom: -1px
  #shelley
    background-image:url('../img/teachers/shelley.jpg')
  #amita
    background-image:url('../img/teachers/squirrel.jpg') // Missing image for Amita
  #cares
    background-image:url('../img/teachers/squirrel.jpg') // Missing image for Amita
  #debi
    background-image:url('../img/teachers/debi.jpg')  
  #jay
    background-image:url('../img/teachers/jay.jpg')  
  #moises
    background-image:url('../img/teachers/moises.jpg')  
  #emily
    background-image:url('../img/teachers/emily.jpg')  
  #ali
    background-image:url('../img/teachers/ali.jpg')  
  #brian
    background-image:url('../img/teachers/brian.jpg')  
  #michelle
    background-image:url('../img/teachers/michelle.jpg')  
  #yureesh
    background-image:url('../img/teachers/yureesh.jpg')  
  #renee
    background-image:url('../img/teachers/renee.jpg')  

/* ======================================================================
   Contact Styles
   ======================================================================*/
#contact
  width: 100%
  margin: auto
  padding-top: 4.5em
  background: #fff
  font-size: 0.75em
  line-height: 1
  #contactContainer
    width: $contentBlockWidth
    margin: auto
    #contactform
      float: left
      width: ($contentBlockWidth/2)
      form
        $formSize = 15.625em
        width: $formSize
        input
          width: $formSize
        textarea
          width: $formSize
        input[type="submit"]
          width: 2.5em
    #location
      float: right
      width: ($contentBlockWidth/2)
      text-align: center
      h1
        text-align: left
      hgroup
        width: 350px
      .alignRight
        float: right
        list-style: none
        text-align: right
      .alignLeft
        float: left
      img
        width: 250px
        margin: auto
      p#copy 
        color: #000
        font: small-caps 100 1em $dipietrofonts
        float: left
        margin-top: 1.875em
      ul#social
        width: 15.625em
        list-style-type: none
        margin-top: 1em
        float: right
        li
          width: 3.125em
          height: 3.125em
          float: left
          margin-right: 0.625em
          animation-duration: 0.75s
          animation-delay: 0s
  	  #facebook
  	    background-image: url('../img/facebook.png')
  	  #twitter
  	    background-image: url('../img/twitter.png')
  	  #tumblr
  	    background-image: url('../img/tumblr.png')
  	  #hairbranded
  	    background-image: url('../img/tumblr.png')

/* ======================================================================
   Media Queries
   ======================================================================*/